<div class="flex-center-page">
  <mat-card role="form">
    <form (ngSubmit)="submit()" class="flex-col-form">
      <mat-card-title>Movie App</mat-card-title>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput id="username" type="text" [formControl]="username">
      </mat-form-field>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput id="password" [type]="isVisibleType" [formControl]="password">
        </mat-form-field>
        <span (click)="toggleVisibility()" class="action-icon">
          <mat-icon aria-hidden="false" aria-label="Toggle password visibility">{{ isVisibleIcon }}</mat-icon>
        </span>
      </div>
      <mat-card-actions>
        <button
          type="submit"
          mat-button
          color="primary"
          [disabled]="username.value === '' || password.value === ''"
        >Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
