<div class="flex-center-page">
  <mat-card id="person-table" *ngIf="hasData">
    <h1 *ngIf="message !== ''">{{ message }}</h1>
    <table *ngIf="message === ''" mat-table [dataSource]="datasource">
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let person" (click)="goToDetails(person.id)">
          {{ person.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let person">{{ person.gender | gender}}</td>
      </ng-container>

      <ng-container matColumnDef="popularity">
        <th mat-header-cell *matHeaderCellDef>Popularity</th>
        <td mat-cell *matCellDef="let person">{{ person.popularity }}</td>
      </ng-container>
    </table>
    <mat-paginator  #paginator
                    [pageSize]="20"
                    [length]="itemCount"
                    (page)="changePage($event)"
                    aria-label="Select page of movies">
    </mat-paginator>
  </mat-card>
  <mat-card id="person-form">
    <form (ngSubmit)="setParams()" class="flex-col-form">
      <mat-form-field appearance="fill">
        <mat-label>Person</mat-label>
        <input matInput type="text" [formControl]="searchQuery">
      </mat-form-field>
      <mat-card-actions>
        <button
          type="submit"
          mat-button
          color="primary"
          [disabled]="searchQuery.value === ''"
        >Search</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
