<mat-card id="search-table" *ngIf="hasData">
  <h1 *ngIf="message !== ''">{{ message }}</h1>
  <table *ngIf="message === ''" mat-table [dataSource]="datasource">
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let movie" (click)="goToDetails(movie.id)">
        {{ movie.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="release_date">
      <th mat-header-cell *matHeaderCellDef>Release Date</th>
      <td mat-cell *matCellDef="let movie">{{ movie.release_date }}</td>
    </ng-container>

    <ng-container matColumnDef="vote_average">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let movie">{{ movie.vote_average }}</td>
    </ng-container>
  </table>
  <mat-paginator  #paginator
                  [pageSize]="20"
                  [length]="itemCount"
                  (page)="changePage($event)"
                  aria-label="Select page of movies">
  </mat-paginator>
</mat-card>
