<mat-card id="search-filter" role="form">
  <form (ngSubmit)="setParams()" class="flex-col-form">
      <mat-form-field appearance="fill">
        <mat-label>Movie</mat-label>
        <input matInput type="text" [formControl]="searchQuery">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Year</mat-label>
        <input matInput type="number" [formControl]="year">
      </mat-form-field>
      <mat-card-actions>
        <button
          type="submit"
          mat-button
          color="primary"
          [disabled]="searchQuery.value === ''"
        >Search</button>
      </mat-card-actions>
  </form>
</mat-card>
