<header>
  <nav mat-tab-nav-bar class="navbar">
    <div class="app-title">{{ title }}</div>
    <div class="navbar-nav">
      <button routerLink="/login" mat-button>Login</button>
      <button routerLink="/dashboard" mat-button>Dashboard</button>
      <button routerLink="/search/movie" mat-button>Search</button>
      <button routerLink="/search/person" mat-button>People</button>
    </div>
    <div class="navbar-last">
      <button (click)="logout()" mat-button>Logout</button>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
