#person-actions {
  display: flex;
  justify-content: right;
}

.person-card {
  max-width: 80%;
  margin-top: 2rem;
}

.person-card-content {
  display: flex;
  flex-flow: row nowrap;
}

.person-profile-description {
  margin: 0.5rem;
}

.person-bio {
  margin: 2rem;
}

.person-aka {
  margin: 1rem;
}

.person-latest-movies {
  margin: 1rem;
  width: 80%;
}

.person-credit-list {
  display: flex;
  flex-flow: row nowrap;
}

.person-credit-list li {
  margin: 0.5rem;
  list-style: none;
}


