<div class="flex-col-center-page">
  <mat-card class="person-card">
    <mat-card-title>{{ person.name }}</mat-card-title>
    <mat-card-content class="person-card-content">
        <div class="person-profile">
          <div>
            <img id="person-profile-image" [src]="getImage(person.profile_path, 'profile')" alt="">
          </div>
          <div class="person-profile-description">
            <h3>Birthday: {{ person.birthday | date }}</h3>
            <h3 *ngIf="person.deathday">Deathday: {{ person.deathday }}</h3>
          </div>
        </div>
        <div class="person-bio">
          <div>
            <h2>Biography</h2>
            <p appHoverExpand>{{ person.biography }}</p>
            <a *ngIf="person.homepage" [href]="person.homepage">Homepage</a>
          </div>
          <div class="person-aka">
            <h3>Also Known As</h3>
            <ul class="person-known-as">
              <li *ngFor="let aka of person.also_known_as">{{ aka }}</li>
            </ul>
          </div>
        </div>
    </mat-card-content>
    <mat-card-actions id="person-actions">
      <app-add-remove-button type="add" dataType="person" [value]="person"></app-add-remove-button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="person-latest-movies">
    <div class="person-latest-movies-cast">
      <h3>Cast</h3>
      <h4 *ngIf="credits.cast.length < 1">No cast credits found</h4>
      <ul *ngIf="credits.cast.length > 0" class="person-credit-list">
        <li *ngFor="let cast of getLatestMovies(credits.cast)">
          <img class="credits-cast-image" [src]="getImage(cast.poster_path, 'poster')" alt="">
          <h4>{{ cast.title }}</h4>
          <h5>{{ cast.character }}</h5>
          <p>{{ cast.release_date }}</p>
        </li>
      </ul>
    </div>
    <div class="person-latest-movies-crew">
      <h3>Crew</h3>
      <h4 *ngIf="credits.crew.length < 1">No crew credits found</h4>
      <ul *ngIf="credits.crew.length > 0" class="person-credit-list">
        <li *ngFor="let crew of getLatestMovies(credits.crew)">
          <img class="credits-crew-image" [src]="getImage(crew.poster_path, 'poster')" alt="">
          <h4>{{ crew.title }}</h4>
          <h5>{{ crew.character }}</h5>
          <p>{{ crew.release_date }}</p>
        </li>
      </ul>
    </div>
  </mat-card>
</div>
