<div class="flex-col-center-page">
  <mat-card class="dashboard">
    <h1>Movies</h1>
    <table mat-table class="dashboard-table" [dataSource]="movieDataSource">
      <tr mat-header-row *matHeaderRowDef="movieDisplayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: movieDisplayColumns"></tr>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let movie" (click)="goToMovieDetails(movie.id)">
          {{ movie.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="release_date">
        <th mat-header-cell *matHeaderCellDef>Release Date</th>
        <td mat-cell *matCellDef="let movie">{{ movie.release_date }}</td>
      </ng-container>

      <ng-container matColumnDef="vote_average">
        <th mat-header-cell *matHeaderCellDef>Rating</th>
        <td mat-cell *matCellDef="let movie">{{ movie.vote_average }}</td>
      </ng-container>

      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef>Remove</th>
        <td mat-cell *matCellDef="let movie">
          <app-add-remove-button type="remove" dataType="movie" [value]="movie.id"></app-add-remove-button>
        </td>
      </ng-container>
    </table>
    <mat-card-actions class="table-buttons">
      <button mat-button (click)="sortMovies()">Sort</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="dashboard">
    <h1>People</h1>
    <table mat-table class="dashboard-table" [dataSource]="personDataSource">
      <tr mat-header-row *matHeaderRowDef="personDisplayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: personDisplayColumns"></tr>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let person" (click)="goToPersonDetails(person.id)">
          {{ person.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef>Birthday</th>
        <td mat-cell *matCellDef="let person">{{ person.birthday }}</td>
      </ng-container>

      <ng-container matColumnDef="popularity">
        <th mat-header-cell *matHeaderCellDef>Popularity</th>
        <td mat-cell *matCellDef="let person">{{ person.popularity }}</td>
      </ng-container>

      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef>Remove</th>
        <td mat-cell *matCellDef="let person">
          <app-add-remove-button type="remove" dataType="person" [value]="person.id"></app-add-remove-button>
        </td>
      </ng-container>
    </table>
    <mat-card-actions class="table-buttons">
      <button mat-button (click)="sortPeople()">Sort</button>
    </mat-card-actions>
  </mat-card>
</div>
