/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  padding: 0;
  margin: 0;
}

.flex-center-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center-page {
  height: 100vh;
  margin: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.flex-col-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.action-icon {
  cursor: pointer;
  margin: 0.5rem;
}
