.movie-card {
  max-width: 80%;
}

.movie-card-content{
  display: flex;
}

#movie-poster {
  margin: 1rem;
}

#movie-content {
  margin: 2rem;
}

#movie-overview {
  margin: 2rem;
}

#movie-production {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#movie-production li {
  list-style: none;
  margin: 0.5rem;
}

#movie-actions {
  display: flex;
  justify-content: right;
  margin-top: auto;
}
