<div class="flex-center-page">
  <mat-card class="movie-card">
    <mat-card-title>{{ movie.original_title }}</mat-card-title>
    <mat-card-content class="movie-card-content">
      <div id="movie-card-poster">
        <div id="movie-poster">
          <img id="movie-poster-image" [src]="getImage(movie.backdrop_path, 'poster')" alt="">
        </div>
        <div id="movie-details">
          <h3>Release Date: {{ movie.release_date | date }}</h3>
        </div>
      </div>
      <div id="movie-content">
        <div>
          <h2>Overview</h2>
          <p id="movie-overview" appHoverExpand>{{ movie.overview }}</p>
        </div>
        <div>
          <h2>Production Companies</h2>
          <ul id="movie-production">
            <li *ngFor="let company of movie.production_companies">
              <mat-card>
                <mat-card-title>
                  <h5>{{ company.name }}</h5>
                </mat-card-title>
                <img class="movie-production-logo" [src]="getImage(company.logo_path, 'logo')" alt="">
              </mat-card>
            </li>
          </ul>
        </div>
        <mat-card-actions id="movie-actions">
          <app-add-remove-button type="add" dataType="movie" [value]="movie"></app-add-remove-button>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </mat-card>
</div>
